This notebook ???

In [1]:
%load_ext lab_black
%load_ext watermark

import numpy as np
import pandas as pd

from pathlib import Path

In [25]:
basepath = Path("../../../Downloads/db_iris_all/activite_residents/")
files_in_path = basepath.glob("*.xls")

# load and concat files (heavy):
actifs = pd.DataFrame()
for file in files_in_path:
    df = pd.read_excel(
        file,
        header=5,
        sheet_name="IRIS",
        usecols=["DEP", "LIBCOM", f"C{file.stem[-2:]}_ACTOCC1564"],
        nrows=40_500,
    )
    df = df[df.DEP == "75"].reset_index(drop=True).drop("DEP", axis=1)
    actifs = pd.concat([actifs, df], axis=1)

# drop duplicated column values:
actifs = actifs.T.drop_duplicates().T
# drop duplicated column names:
actifs = actifs.loc[:, ~actifs.columns.duplicated()]

# extract district number:
actifs["LIBCOM"] = actifs.LIBCOM.str.extract("(\d+)").astype(int)
actifs = actifs.rename(columns={"LIBCOM": "arrondissement"})

# aggregate by district and prettify columns:
actifs = actifs.groupby("arrondissement").sum()
actifs.columns = actifs.columns.str[1:3].astype(int) + 2000
actifs.columns.name = "actifs occupes"
actifs = actifs.sort_index(axis=1)
actifs

actifs occupes,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016
arrondissement,,,,,,,,,,,
1,9485.059228,9546.148694,9469.633224,9665.691628,9558.180760,9453.454849,9110.708956,8883.849949,8438.116225,8135.217082,8061.414072
2,11895.337850,12395.559350,12449.383546,12794.287723,13079.132959,12897.067260,12705.574946,12511.638294,12443.876247,12172.283638,11953.850833
3,18781.798429,18794.248763,19187.221407,19528.009963,19633.785420,19676.408336,19624.664004,19427.440000,19250.600928,19080.631402,18880.704683
4,14717.129875,14474.184108,14170.410759,14383.516785,14349.181220,14077.461530,14083.926773,13852.854439,13655.120630,13745.463101,13794.282329
5,28127.212305,28896.540584,28718.970489,28261.753714,27791.574245,27907.229912,27479.569920,27486.622826,27370.326561,27153.136723,26531.098045
6,19400.728497,19464.044287,18987.594588,18698.452612,18687.445790,18872.413593,18486.423858,18369.356119,17947.978542,17625.289921,16819.451985
7,25210.101682,25555.120417,25470.719099,25634.964674,25939.173209,25646.194524,25270.864522,24984.518029,24645.281422,24005.170224,23397.139726
8,18334.549675,18373.028456,18104.717871,18953.683842,19428.111309,19149.890060,18470.260890,18698.608989,17966.781661,17511.445134,17298.062602
9,30990.448950,31214.296310,31615.515379,32296.599520,32337.003951,32254.221120,32025.363230,32002.779042,32167.496470,32271.121015,32442.704870
10,47523.304684,48632.879806,49229.651607,50295.408916,50348.624429,49221.239901,49634.583166,48615.739610,48417.748515,47978.617838,48166.862564
11,79055.814058,79669.385203,80842.708635,81026.911694,81690.274311,82281.569435,82646.499198,81744.699019,80724.638830,79337.020236,77988.070925
12,71010.894864,72432.362870,73044.982880,73046.415278,73926.519727,73711.621307,73292.694825,72770.259837,71587.503089,69895.442622,69642.301385
13,85923.869897,85842.788794,86209.783781,87125.484910,85832.485146,85656.094509,84945.398875,84035.099917,82512.303429,82769.755894,82286.279238
14,63533.879049,63892.621258,65317.704247,65674.482651,66074.476989,66280.184398,65803.504706,64877.244302,64939.016278,63567.551334,62416.449471
15,114825.285350,115597.677791,116351.079594,117135.972152,117543.009848,117969.084916,116938.143879,115968.022103,114503.745462,113592.305932,113069.907567
16,63100.912503,66183.442273,68582.711829,70730.171153,71172.377659,70136.727823,68730.123209,68200.822162,67265.443023,67520.465277,68161.497422
17,77364.412521,79966.575116,81628.007596,82563.282867,83220.267023,83437.701218,83568.807648,83250.674193,83625.410302,82911.335365,82925.383533
18,92405.361957,93790.814375,97119.854187,99588.193814,100673.125362,100704.648358,99758.536402,98992.663918,99224.287462,98793.952209,97976.298463
19,80660.946303,80660.049341,81576.419239,82035.417741,82492.347990,82138.818758,81193.058821,80887.677539,80620.130458,80554.412470,80813.891512
20,90768.905490,91745.473862,92459.487007,93002.111642,92883.304628,92825.402336,91753.677270,90488.610079,90469.181326,90370.240523,90874.227479